*{
  margin: 0;
  padding: 0;
}

.logo{
  background-color: #64cd64;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  width: 20%;
}

.NRE {
  color: #3b60ac;
}

.descricao-site {
  background-image: linear-gradient(#64cd64, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.site-imagem-um {
  width: 25%;
}

.site-imagem-dois {
  width: 25%;
}

.site-imagem-tres {
  width: 25%;
}

.site-div-conteudo {
  width: 35%;
}

.titulo-site {
  padding: 24px 0;
  color: #3b60ac;
}

.texto-site-um {
  padding: 24px 0;
}

.texto-site-dois {
  padding: 24px 0;
}

.texto-site-tres {
  padding: 24px 0;
}

.texto-site-quatro {
  padding: 24px 0;
}

.conclusao-do-texto {
  padding: 24px 0;
}

.titulo-site {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;  
}

.profissao-titulo {
  font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;  
    color: #3b60ac;
}

.profissoes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.profissoes-descricao {
  display: flex;
  justify-content: center;
}