.cabecalho {
background-color: #1eff00; 
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;

}

.cabecalho-imagem {
    width: 30%;
}

.titulo-agrinho {
  background-image: linear-gradient(#1eff00, #4cdada00);
  color: #4b5cdb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}