*{
  margin: 0;
  padding: 0;
}

.logo{
  background-color: #64cd64;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  width: 20%;
}

.NRE {
  color: #3b60ac;
}

.descricao-site {
  background-image: linear-gradient(#64cd64, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.site-imagem-um {
  width: 25%;
}

.site-imagem-dois {
  width: 25%;
}

.site-imagem-tres {
  width: 25%;
}

.site-div-conteudo {
  width: 35%;
}

.titulo-site {
  padding: 24px 0;
  color: #3b60ac;
}